[submodule "2022/advent-of-code-2022"]
	path = 2022/advent-of-code-2022
	url = git@github.com:viddem/advent-of-code-2022

[submodule "2023/advent-of-code-2023"]
	path = 2023/advent-of-code-2023
	url = git@github.com:viddem/advent-of-code-2023
[submodule "2024/advent-of-code-2024"]
	path = 2024/advent-of-code-2024
	url = git@github.com:viddem/advent-of-code-2024
